.logo{
    background:url('../img/logo-aloha.svg');
    text-indent:101%; /*首行縮排*/
    overflow:hidden; /*自動隱藏超出的文字或圖片*/
    white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
    display: block;
    background-repeat: no-repeat;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    background-color: transparent;
    display: block;
}

.navbar-light, .navbar-toggler {
    border-color:#fff;
}