@import"variable.scss";
@import"mixin.scss";
.logo{
    background:url('../img/logo-aloha.svg');
    text-indent:101%; /*首行縮排*/
    overflow:hidden; /*自動隱藏超出的文字或圖片*/
    white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
    display: block;
    background-repeat: no-repeat;
    margin-right: 2rem;
}

a{
  
    background-color: transparent;
    display: block;
    color: $black;
    &:hover{
        text-decoration: none;
    }
}


.order--2{
    order:-2;
    @include pad(){
        order:1;
    }
    @include desktop(){
        order:1;
    }
}

.navbar-light .navbar-toggler {
    color: $white; 
    border-color:$white; 
}

.z-index-cus{
    z-index: 100;
}
.pos-cus{
    position: absolute;
    bottom:10%;
    left:5%;
}
.w-90{
    width: 90%;
}