h1.logo {
    margin-top: 1rem;
    @include mobile(){
        order: 1 !important;
  
    }
    @include pad(){
        order: -2 !important;
  
    }
}

div#navbarNavDropdown{
    @include mobile(){
        display: flex !important;
        justify-content: flex-end !important;

    }
     @include pad(){
         display: flex !important;
         justify-content: flex-end !important;

     }
 }
 .h-50{
    @include pad(){
        height: 50vh !important;
    }
     @include desktop(){
         max-height:  50vh!important;
     }
 }
 .banner{
     position: relative;
     &-inner h2{
        position: absolute;
        top:15%;
        left:25%;
        @include mobile(){
            top:20%;
        }
}   
    }

.banner-inner h2{
    line-height: 1.5;
}
a {
	text-decoration: none !important;
	color: #000;
}
.index-drop li {
	padding: 0 0% 5% 5%;

	p {
		color: #00000099;
		font-size: 12px;
	}
}
.list-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 50%;
}
.size {
	margin-left: 8%;
	max-width: 2vw !important;
	height: 10vh;
	margin-right: 8%;
}
.dropdown-item {
	padding: 0;
}
.dropdown-menu.show {
	display: block;
	width: 60%;
}
.px-middle {
	padding-right: 23%;
}
.search-section{
    display: flex;
}
.search{
    background-color: $sec-color !important;
}
.index-btn {
    width: 100%;
    @include pad(){
        width:24%;
    }
}


.index-btn .dropdown-toggle::after {
    display: none !important;
}