.fz-primary{
    font-size:  $fz-primary !important;
    
 
}
.fz-secondary{
   
    font-size: $fz-secondary !important;
 
}
.fz-third{
    
 font-size:$fz-third!important ;
}
.fz-fourth{
     font-size:$fz-fourth !important;
}
.text-main{
    color: $text-primary!important;
}