$fz-color-primary:#8D8D8D;
$fz-color-sec:#000;
$fz-color-thr:#fff;
$fz-color-fth:#AC8A46;
$fz-color-six:#707070;
$bgc-primary:#E0E0E0;

$fz-primary:24px;
$fz-sec:20px;
$fz-thr:40px;
$fz-fth:16px;
$fx-fif:14px;
$fz-six:32px;
