
.arrow{
    position: absolute;
    left: 5% !important;
}
.btn-pri{
    background-color: $white;
    border:1px solid $green;
    color: $green;

}
.btn-tr{
    background-color:$green;
    color:  $white;
    }
 .btn-footer{
    position: absolute;
 
    right: 3% !important;
 }